*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.main-background{
    background: url("desktop/Background.png") no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
.hero{
    width: 100%;
    position: relative;
}
.background{
    width: 100%;
}
.desktop-navigation{
    width: 1440px;
    max-width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.mobile-navigation{
    display: none;
}
#mob-background{
    display: none;
}
.nav{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
}
.menu-link{
    color: #111827;
}
.store-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bars{
    display: none;
}
.hero-contain{
    width: 1440px;
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.contain-text{
    width: 648px;
    padding-top: 100px;
}
.contain-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 20px;
}
.contain-img{
    padding-left: 100px;
}
.contain-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
.contain-button{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contain-link-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #7C3AED;
}
.contain-link{
    color: white;
}
.contain-bttn{
    width: 150px;
    text-align: center;
    background-color: #7C3AED;
    padding: 20px;
    border-radius: 10px;
}
#partners{
    margin-bottom: 150px;
}
.companies{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.features{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.ft-text{
    padding: 0px 310px;
    text-align: center;
    margin-bottom: 80px;
}
.ft-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.ft-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.features-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.ft-flex{
    width: 384px;
    height: 163px;
    text-align: center;
    margin-bottom: 20px;
}
.flex-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}
.flex-para{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
}
#review{
    margin-bottom: 100px;
}
.review{
    background-color: #D5FAFC;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.review-2{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.review-logo{
    padding-left: 100px;
}
.review-logo-2{
    display: none;
}
.review-text{
    padding-left: 200px;
    margin-top: -64px;
}
.review-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.review-title{
    width: 520px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.desktop-companies-review{
    padding-right: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
.mobile-companies-review{
    display: none;
}
.hubspot-review{
    width: 385px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
.airbnb-review{
    width: 505px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
.strapi-review{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.company-review{
    margin-bottom: 20px;
}
.company-contain{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.company-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.cust-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.founder{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
#users{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    padding: 0px 100px;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-text{
    width: 582px;
}
.user-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.user-para{
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.user-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.user-logo-2{
    width: 32px;
    height: 56px;
}
.user-flex-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.user-logo-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-flex-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}
#tools{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0px 100px;
}
.tool{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tool-text{
    width: 448px;
}
.tool-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
}
.tool-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.apps{
    width: 100%;
    height: 558px;
    background-color: #1DB5BE;
    position: relative;
}
.app{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-text{
    width: 582px;
}
.app-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
}
.app-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
}
.app-text-2{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}
.store-img-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 200px;
}
.apps-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 558px;
}
.app-img-1{
    position: absolute;
    top: 0px;
    right: 432px;
}
.apps-img-2{
    display: none;
}
.footer{
    width: 100%;
    background-color: black;
    height: 288px;
}
.footer-contain{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 100px;
    height: 100%;
}
.ft-cotain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.ft-logo{
    margin-bottom: 10px;
}
.ft-nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.ft-nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}
.ft-nav-link{
    color: white;
}
.ft-link{
    color: white;
}
.footer-text{
    color: white;
}
.download-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.ft-text-2{
    color: white;
}
.store-img-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 499px) {
    .hero{
        width: 100%;
    }
    #background{
        display: none;
    }
    #mob-background{
        display: block;
        width: 100%;
    }
    .mob-background{
        width: 100%;
    }
    .background{
        width: 100%;
    }
    .desktop-navigation{
        display: none;
    }
    .mobile-navigation{
        width: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        top: 0px;
    }
    .mob-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    .store-img{
        display: none;
    }
    .bars{
        display: block;
    }
    .hero-contain{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0px;
        padding: 10px;
    }
    .contain-text{
        width: 100%;
        padding-top: 80px;
    }
    .contain-title{
        font-size: 37px;
        line-height: 54px;
    }
    
    .contain-button{
        width: 100%;
        margin-bottom: 80px;
    }
    .contain-img{
        width: 100%;
        padding-left: 20px;
    }
    .companies{
        width: 100%;
        padding: 20px;
        gap: 40px;
    }
    .company{
        width: 100px;
    }
    .features{
        width: 100%;
    }
    .features-flex{
        justify-content: center;
        gap: 40px;
    }
    .ft-text{
        width: 100%;
        padding: 10px;
    }
    .flex-para{
        width: 303px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .review{
        width: 100%;
        padding: 20px;
        height: 100%;
    }
    .review-2{
        width: 100%;
    }
    .review-text{
        width: 100%;
        margin-top: -55px;
        margin-bottom: 100px;
        padding-left: 10px;
    }
    .review-title{
        width: 100%;
        font-size: 37px;
    }
    .review-logo{
        display: none;
    }
    .review-logo-2{
        display: block;
        width: 100px;
    }
    .desktop-companies-review{
        width: 100%;
        display: none;
    }
    .mobile-companies-review{
        display: block;
    }
    .airbnb-review{
        width: 100%;
        margin-bottom: 0px;
    }
    .hubspot-review{
        width: 100%;
    }
    .strapi-review{
        width: 100%;
    }
    #users{
        width: 100%;
        padding: 20px;
        margin-bottom: 100px;
    }
    .user{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .user-text{
        width: 100%;
    }
    .user-flex{
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    .user-flex-2{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
    #tools{
        width: 100%;
        padding: 20px;
    }
    .tool{
        flex-direction: column;
        gap: 50px;
    }
    .tool-text{
        width: 100%;
    }
    .tool-logo{
        width: 100%;
    }
    .apps-img{
        display: none;
    }
    .apps-img-2{
        display: block;
    }
    .apps{
        height: 100%;
        padding: 20px;
        padding-bottom: 0px;
    }
    .app{
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    .app-text{
        width: 100%;
    }
    .store-img-2{
        width: 100%;
    }
    .app-title{
        font-size: 46px;
        width: 100%;
    }
    .footer{
        height: 100%;
        padding: 20px;
    }
    .footer-contain{
        width: 100%;
        padding: 0px 20px;
    }
    .ft-nav-menu{
        gap: 10px;
    }    
    .ft-cotain{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .download-app{
        align-items: flex-start;
    }
}
